/.venv/
/browsing_model/
/chroma_db/
/email_model/
/Emails/
/__pycache__/
/flair-finetuned/
/offload/
/output_emails/
/sms_model/
/templates/
/vector_store/
a.ipynb 
app.py
a.py
chatbot.py
con.ipynb
daily_insight_generation.py
dex.ipynb
email_extraction.ipynb
faiss_app_usage.index
faiss_time_app_usage.index
ins_not.py
insight.py
main.py
new.ipynb
prompt_template2.pkl
rag_pipeline.py
rag.py
tfidf_email.npy
tfidf_browsing.npy
tfidf_sms.npy
vector_index2.faiss
vector_store2.pkl

