/.venv/
/browsing_model/
/chroma_db/
/email_model/
/Emails/
/__pycache__/
/flair-finetuned/
/offload/
/output_emails/
/sms_model/
/templates/
/vector_store/
a.ipynb 
app_usage.json
app.py
a.py
call_log_dataset_corrected.json
browsing_history.json
chatbot.py
con.ipynb
daily_insight_generation.py
daily_insights.json
dex.ipynb
email_extraction.ipynb
email_label_encoder.pth
emails.json
faiss_app_usage.index
faiss_time_app_usage.index
ins_not.py
insight.py
main.py
new.ipynb
prompt_template2.pkl
rag_pipeline.py
rag.py
sms_label_encoder.pth
sms_log_dataset.json
tfidf_email.npy
tfidf_browisng.npy
tfidf_sms.npy
vector_index2.faiss
vector_store2.pkl

